@using HoloDB
@model List<MusicService.ViewModel.GetAudiosViewModel>
@{
    ViewBag.Title = "GetAudios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAudios</h2>
<ul>
    @foreach (var audio in Model)
    {
        <li>
            @audio.ShortName.Remove(@audio.ShortName.Length-23) | @audio.Tempogram.Description | @audio.Tempogram.Intensity | @audio.Tempogram.LongRhythmLevel | @audio.Tempogram.LongRhythmIsValid 
        </li>
    }
</ul>
