@model MusicService.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Post</legend>

    <h5>
         @Html.DisplayNameFor(model => model.Message)
    </h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <h5>
         @Html.DisplayNameFor(model => model.Likes)
    </h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.Likes.Count)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input  class="btn btn-inverse" type="submit" value="Delete" /> |
        <button class="btn btn-inverse"> @Html.ActionLink("Back to List", "Index")</button> 
        
    </p>
}
