@model MusicService.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()



    <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">@Html.LabelFor(m => m.OldPassword)</label>
        <div class="controls">
            @Html.PasswordFor(m => m.OldPassword)
            <p class="help-block">@Html.ValidationMessageFor(m => m.OldPassword)</p>
        </div>
    </div>

    <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">@Html.LabelFor(m => m.NewPassword)</label>
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword)
            <p class="help-block">@Html.ValidationMessageFor(m => m.NewPassword)</p>
        </div>
    </div>

     <div class="control-group">
    <!-- Password-->
    <label class="control-label" for="password">@Html.LabelFor(m => m.ConfirmPassword)</label>
    <div class="controls">
        @Html.PasswordFor(m => m.ConfirmPassword)
        <p class="help-block">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
    </div>
</div>
    <input class="btn btn-success" type="submit" value="Change password" />

}
